/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 27, 2023, 11:04:51 AM
    Author     : amiezane2
*/

body {
  background-color: lightblue;
}

h1 {
  color: navy;
  text-align: center;
}

p {
  font-family: verdana;
  color: navy;
  font-size: 20px;
}